body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    width: 100%;
    max-width: 550px;
    background-color: black;
}

#main-container {
    background-color: #765cdd;
    padding-bottom: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#output-container {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    width: 100%;
    padding-top: 36px;
}

.output {
    width: 500px;
    height: 109px;
    background-color: #273549;
    margin-bottom: 23px;
    border-radius: 5px;
}

#input-el {
    margin-bottom: 26px;
    width: 117px;
    height: 43px;
    padding: 20px;
    border-radius: 5px;
    border: solid 2px #B295FF;
    background-color:#6943FF;
    font-family: "Open Sans", sans-serif;
    font-weight: 800px;
    font-size: 58px;
    text-align: center;
    color: #FFFFFF;

}

#convert-btn {
    width: 160px;
    height: 42px;
    border-radius: 5px;
    border: none;
    color: #3D3D3D;
    font-size: 20px;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600px;
    font-size: 20px;
    color: #CCC1FF;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800px;
    font-size: 28px;
    color: #a1bce3;
}

p {
color: #FFFFFF;    
}

#convert-btn {
    transition: transform 0.1s;
}

#convert-btn:active {
    transform: translateY(2px);
}